/* Dances
--------------------------------------------- */
.column {
	ul {
		margin-left: 18px !important;
	}
	
	h4 {
		background: $color-purple;
		border-left: 8px solid $color-purple-dark;
		color: #fff;
		padding: 5px;
	}
}

.workout {
	background-color: $color-workout;
}

.dance {
	background-color: $color-dance;
}


.single-faq.expand-faq {
	
	h3 {
		color: #fff;
		cursor: pointer;
		margin: 0;
		padding: 5px;
	}
	
	h3:before {
		bottom: -7px;
		color: #fff;
		content: "\f132";
		display: inline-block;
		font: normal 30px/1 'dashicons';
		position: relative;
	}
	
	#b-burn,
	#stretch-relax,
	#hatha-yoga,
	#kahvakuula {
		background-color: $color-purple;
		width: 50%;
	}
	
	#bollywood-elegance,
	#bollywood-stardom,
	#bellywood,
	#indian-contemporary,
	#b-star-7-11-vuotiaat,
	#b-lil-star-4-7-vuotiaat,
	#b-teens,
	#bollywood-for-students,
	#puistobollywood,
	#bollywood-basics,
	#just-dance {
		background-color: $color-purple-dark;
		width: 50%;
	}
	
	.faq-answer {
		border: 1px solid $color-purple;
		padding-top: 0px;
		
		.panel-grid:first-of-type {
			margin-bottom: 0 !important;
		}
		
		p {
			margin: 0;
		}
		
		ul {
			margin-bottom: 0;
		}
	}
	
	h3.widget-title {
		color: #000;
	}
	
	.simcal-default-calendar-list {
		padding: 0;
	}
	
	.simcal-default-calendar-list .simcal-event-details p {
		margin: 0;
	}
}

.panel-grid-cell {
// 	padding-left: 5px !important;
}