.footer-widgets {
	background: $color-purple url(images/indian-pattern.png) repeat;
	clear: both;
	padding-bottom: 40px;
	padding-top: 40px;

	&,
	a {
		color: #000;
	}

	input {
		border: 1px solid #000;
	}

	a.button,
	a:hover {
		color: #fff;
	}

	li {
		border-bottom: 1px dotted #666;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	.widget {
		margin-bottom: 40px;
	}

	p:last-child,
	ul > li:last-child,
	.widget:last-child {
		margin-bottom: 0;
	}
	
	.widget-title {
		border-bottom: 1px solid #fff;
		font-family: $font-sans-3;
		font-size: 28px;
	}
	
	.textwidget {
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.75);
		padding: 5px;
	}
}

.footer-widgets-1, 
.footer-widgets-2, 
.footer-widgets-3, 
.footer-widgets-4 {
	width: 21.875%; /* 252px / 1152px */
}

.footer-widgets-1, 
.footer-widgets-2, 
.footer-widgets-3 {
	float: left;
	margin-right: 4.166666666%; /* 48px / 1152px */
}
.footer-widgets-4 {
	float: right;
}
