@media only screen and (max-width: 1139px) {

	.site-inner,
	.wrap {
		max-width: none;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4 {
		width: 230px;
	}
	
	.sidebar-primary,
	.title-area {
		width: 300px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		margin-right: 13px;
	}
	
	.footer-widgets .widget-title {
		font-size: 25px;
	}
	
	.footer-widgets .wrap,
	.homepage-news .wrap,
	.dance-crew-widget .wrap {
		max-width: 960px;
	}

}

@media only screen and (max-width: 1023px) {

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}
	
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		margin-bottom: 10px;
	}

	.site-header .wrap {
		padding: 20px 5%;
	}

	.header-image .title-area {
		background-position: center top;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 10px;
	}
	
	.genesis-nav-menu a {
		font-size: 14px;
	}

	.site-header .search-form {
		margin: 16px auto;
	}

	.genesis-nav-menu li.right {
		display: none;
	}
	
	.navigation-container {
		margin-top: -300px;
	}

	.footer-widgets-1 {
		margin-right: 0;
	}

}

@media only screen and (max-width: 780px) {
	
	.homepage-news {
		
		.featuredpost {
			
			.entry {
				min-height: 500px;
			}
			
			img.entry-image {
				height: 100%;
				width: 100%;
			}
			
			.entry-header {
				padding: 0 5px 40px; 
			}
		}
	}
}

@media only screen and (max-width: 768px) {

	body {
		background-color: #fff;
		font-size: 16px;
	}
	
	//* Home page padding
	.dbdc-home .site-inner {
		padding: 0;
	}

	.footer-widgets .wrap,
	.homepage-news .wrap,
	.dance-crew-widget .wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.sidebar .widget,
	.site-header {
		padding: 0;
	}

	.archive-description,
	.author-box,
	.comment-respond,
	.content .entry,
	.entry-comments,
	.entry-pings,
	.sidebar .widget {
		box-shadow: none;
	}

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
	}
	
	.site-header {
		background: $color-purple;
		min-height: 50px;
		
		.wrap {
			padding: 0 5%;
		}
		
		.title-area {
			float: none;
			height: 45px;
			padding: 0;
		}
	}
	
	.header-image .site-title > a {
		background: url(images/DBDC-Logo-Mobile.svg) no-repeat left !important;
		min-height: 45px;
	}
	
	.navigation-container {
		margin-top: 0;
	}
	
	.nav-primary {
		
		.wrap {
			padding: 0;
		}
		background: $color-purple;
		width: 100%;
		
		li {
			border: none;
		}
		
	}
	
	//* Home page
	.hero-video {
		height: 60vh;
	}
	
	.homepage-news {
		.widget-title {
			text-align: center;
		}
	}
	
	.homepage-newsletter .wrap {
		margin: 0;
	}
	
	//* Catalog page
	.catalog {
		h2 {
			background: none;
			border-bottom: 2px solid $color-purple;
			color: $color-purple;
			height: auto;
		}		
	}
	
	/* Responsive Navigation
--------------------------------------------- */

	.responsive-menu-icon,
	.responsive-menu .menu-item-has-children {
		cursor: pointer;
	}
	
	.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
	}
	
	.responsive-menu,
	.responsive-menu > .menu-item > .sub-menu {
		display: none;
	}
	
	.responsive-menu > .menu-item > .sub-menu {
		background: $color-purple-dark;
		margin: auto;
		width: 100%;
	}
	
	.responsive-menu-icon {
		text-align: center;
	}
	
	.responsive-menu-icon::before {
		color: #fff;
		content: "\f333";
		display: inline-block;
		font: normal 30px/1 'dashicons';
		margin: 0 auto;
		padding: 4px;
	}
	
	.responsive-menu > .menu-item-has-children:before {
		clear: both;
		color: #fff;
		content: "\f347";
		float: right;
		font: normal 20px/1 'dashicons';
		height: 14px;
		padding: 15px;
		position: absolute;
		right: 0;
		text-align: right;
		z-index: 9999;
	}
	
	.responsive-menu .menu-open.menu-item-has-children:before {
		content: "\f343";
	}
	
	.nav-primary a:hover, 
	.nav-primary .current-menu-item > a,
	.nav-primary .sub-menu a:hover, 
	.nav-primary .sub-menu .current-menu-item > a:hover, 
	.nav-secondary a:hover, 
	.nav-secondary .current-menu-item > a, 
	.nav-secondary .sub-menu .current-menu-item > a:hover {
		color: #fff;
	}
	
	.genesis-nav-menu {
		
		.sub-menu {
			position: relative;
			
			a {
				border: none;
				width: auto;
			}
		}
		
		.menu-item {
		text-align: center;
		}
	}

}

@media only screen and (max-width: 414px) {
	
	.homepage-news {
		
		.featuredpost {
			
			.entry {
				margin-bottom: 10px;
				width: 100%;
			}
			
		}
	}
	
	.homepage-news .button {
		font-size: 1.5em;
	}
	
	.homepage-map .widget-title {
		font-size: 25px;
	}
	
	.homepage-map .widget-title:before, 
	.homepage-map .widget-title:after {
		padding-bottom: 8px;
	}
}