//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Colors
$color-site-bg:      #fff;
$color-font:         #000000;
$color-link:         #D40194;
$color-link-visited: $color-link;
$color-link-hover:   #000000;
$color-purple:		 #D40194;
$color-purple-dark:	 #890060;
$color-workout:	 	 #7F03BD;
$color-dance:		 #6504FC;

// Fonts
$font-sans:  Lato, sans-serif;
$font-sans-2:  Oswald, sans-serif;
$font-sans-3:  Raleway, sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-mono:  "Courier 10 Pitch", Courier, monospace;